<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="wide wow-animation" >
    <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="web/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CMuli:100,300,400,600,800">
      <link th:href="@{/web/css/bootstrap.css}" rel="stylesheet" />
      <link th:href="@{/web/css/fonts.css}" rel="stylesheet" />
      <link th:href="@{/web/css/style.css}" rel="stylesheet" />

  </head>
  <body>
    <div class="preloader" id="loading">
      <div class="preloader-body">
        <div id="loading-center-object">
          <div class="object" id="object_four"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_one"></div>
        </div>
      </div>
    </div>
    <div class="page">

      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="10px" data-xxl-stick-up-offset="10px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand" href="/"><img src="web/images/RebellionHub.png" alt="" width="148" height="31"/></a>
                </div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Главная</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="">О нас</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="/market">Магазин событий</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="">Контакты</a>
                  </li>
                </ul>
              </div>
              <div class="rd-navbar-element"><a class="button button-sm button-header button-winona" id="loginButton" href="#">Войти</a>
                <div class="profileLogIn" style="display: none">
                  <div class="container">
                    <div class="button" id="dropdownButton">
                      <p>Dropdown</p>
                      <img src="https://svgshare.com/i/14U2.svg" alt="" class="arrow">
                    </div>
                    <div class="dropdown">
                      <a href="#" id="ProfileB">Профиль
                        <span></span>
                      </a>
                      <a href="#" id="LogOutB">Выйти
                        <span></span>
                      </a>

                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-dummy"></div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section parallax-container context-dark" data-parallax-img="images/bg-image-6-1.jpg">
        <div class="parallax-content">
          <!-- FScreen-->
          <div class="page-header-2-inner">
            <div class="container">
              <div class="block-custom">
                <h2 class="font-weight-extra-black wow clipInLeft" data-wow-delay=".1s" style="color:black">Профессиональная организационная площадка</h2>
                <h4 class="text-default wow clipInLeft" data-wow-delay=".1s" style="color:black">Мы - платформа для организации спортивных мероприятий. Создаем, находим и участвуем в соревнованиях, тренировках и мастер-классах. Легко управляем мероприятиями, регистрируем участников и общаемся. Наша цель - сделать спорт доступным и увлекательным!</h4>
                <div class="group-xl group-middle">
                  <div><a class="button button-lg button-white button-shadow button-winona wow clipInLeft" href="web/about-us.html" data-wow-delay=".2s">О нас</a></div>
                  <div><a class="button button-lg button-primary button-shadow button-winona wow clipInLeft" href="web/contact-us.html" data-wow-delay=".2s">В каталог</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Meet Alice-->
      <section class="section section-md bg-gray-100 text-center">
        <div class="container">
          <div class="badge wow fadeIn">Наши сервисы</div>
          <h3 class="wow fadeIn">Чем мы занимаемся</h3>
          <div class="row row-30 row-xl-60">
            <div class="col-sm-6 col-lg-4">
              <!-- Box Modern-->
              <article class="box-modern wow fadeIn" data-anime="circles-2">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-television-guide"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                </div>
                <p class="box-modern-title">Анализ рынка</p>
                <div class="box-modern-text">
                  <p>Мы поддерживаем ваше событие с помощью маркетинговых исследований, основанных на фактах.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Box Modern-->
              <article class="box-modern wow fadeIn" data-anime="circles-2">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-elevation-rise"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                </div>
                <p class="box-modern-title">Управление денежными средствами</p>
                <div class="box-modern-text">
                  <p>Позволяет вам успешно распоряжаться средствами вашей компании.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Box Modern-->
              <article class="box-modern wow fadeIn" data-anime="circles-2">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-presentation"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                </div>
                <p class="box-modern-title">Магазин</p>
                <div class="box-modern-text">
                  <p>Внутриплотформенная площадка для продажи ваших событий</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Box Modern-->
              <article class="box-modern wow fadeIn" data-anime="circles-2">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-format-list-numbers"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                </div>
                <p class="box-modern-title">Бизнес-планирование</p>
                <div class="box-modern-text">
                  <p>Создание эффективного бизнес-плана, разработанного в соответствии с требованиями вашей компании.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Box Modern-->
              <article class="box-modern wow fadeIn" data-anime="circles-2">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-magnify"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                </div>
                <p class="box-modern-title">Аудит</p>
                <div class="box-modern-text">
                  <p>Глубокое и детальное расследование деятельности вашей компании.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Box Modern-->
              <article class="box-modern wow fadeIn" data-anime="circles-2">
                <div class="box-modern-media">
                  <div class="box-modern-icon mdi mdi-message-text-outline"></div>
                  <div class="box-modern-circle box-modern-circle-1"></div>
                </div>
                <p class="box-modern-title">Консультирование</p>
                <div class="box-modern-text">
                  <p>На каждом этапе у нас есть чат</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- About App-->
      <section class="section section-xl bg-accent">
        <div class="container">
          <div class="row row-50 justify-content-center flex-lg-row-reverse align-items-center justify-content-lg-between">
            <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
              <div class="badge">Про нас</div>
              <h3>Несколько слов о нас</h3>
              <p class="big inset-2">Наша консалтинговая компания является ведущей фирмой менеджеров и консультантов по бизнесу с офисами по всей территории РБ. Наша цель - предоставить вам:</p>
              <ul class="list-marked">
                <li>Качественные исследования и анализ</li>
                <li>Опыт консультаций по бизнесу</li>
                <li>Надежная площадка</li>
              </ul><a class="button button-primary button-shadow button-winona font-weight-sbold" href="/">Читать больше</a>
            </div>
            <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
              <div class="thumbnail-classy">
                <div class="thumbnail-classy-image bg-image" style="background-image: url(web/images/RabellionHub.png);"></div>
                <div class="thumbnail-classy-caption"><a class="thumbnail-classy-button mdi mdi-play" href="https://www.youtube.com/watch?v=-gi1cPeJbQY" data-lightgallery="item">
                    <svg class="thumbnail-classy-button-shape" width="86" height="86" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
                      <rect x="1" y="1" width="86" height="86" rx="6" ry="6"></rect>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <div class="footer-classic-aside">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>VKraey</span>. Ваши данные защищены by <a href="">Недопрограммистом</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="overlay" id="overlay"></div>
    <div class="containerAuth" id="containerAuth">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form id="registrationForm">
            <h1>Регистрация</h1>
            <input type="text" id="firstName" name="firstName" placeholder="Имя" required />
            <input type="text" id="lastName" name="lastName" placeholder="Фамилия" required />
            <input type="text" id="username" name="username" placeholder="Имя пользователя" required />
            <input type="email" id="email" name="email" placeholder="Email" required />
            <input type="password" id="password" name="password" placeholder="Пароль" required />

            <div class="radio-container">
              <label>
                <input type="radio" name="role" value="USER" checked> Пользователь
              </label>
              <label>
                <input type="radio" name="role" value="CREATOR"> Продавец
              </label>
            </div>

            <button type="submit">Зарегистрироваться</button>
          </form>




        </div>
        <div class="form-container sign-in-container">
          <form id="loginForm" action="#">
            <h1>Авторизация</h1>
            <input type="login" id="loginA" placeholder="Логин" />
            <input type="password" id="passwordA" placeholder="Пароль" />
            <a href="#" id="forgotPasswordLink">Забыли пароль?</a>
            <button>Вход</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Добро пожаловать!</h1>
              <p>Чтобы оставаться на связи с нами, пожалуйста, войдите в систему с вашей личной информацией</p>
              <button class="ghost" id="signIn">Авторизация</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Привет, Друг!</h1>
              <p>Введите свои личные данные и начните путешествие вместе с нами</p>
              <button class="ghost" id="signUp">Регистрация</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="forgotPasswordModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Восстановление пароля</h2>
        <input class="form-input" type="email" id="emailF" name="email" placeholder="Ваш email" required>
        <button class="button-circle btn-9" id="sendResetLink">Отправить</button>
      </div>
    </div>



    <script src="web/js/core.min.js"></script>
    <script src="web/js/script.js"></script>
    <script src="web/js/logging.js"></script>
    <script src="web/js/main/checkAuth.js"></script>
  </body>
</html>